{{template "base" .}}

{{define "content"}}

    <div class="container">
        <div class="row">
            <div class="row">
                <h1>This is the About Page</h1>

                <h4>This came from the template {{index .StringMap "test"}}</h4>
                <h3>
                    {{if ne (index .StringMap "remote_ip") ""}}
                        Your remote IP address is {{index .StringMap "remote_ip"}}
                    {{else}}
                        I dont know your address yet. Visit the <a href="/">Home page</a>
                    {{end}}
                </h3>
            </div>
        </div>
    </div>

{{end}}
